/*================== RESET =================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*================== VARIABLES ================*/
:root {

  --intro-bckgd-color: linear-gradient(135deg, #11CDD4 0%, #b8f2e6 30%, #E4F9F5 100%);
  --inv-bckgd-color: linear-gradient(135deg, #e4f9f5 0%, #b8f2e6 30%, hsl(186 100% 69%) 100%);
  --main-bg-color: #000;
  --main-h1h2-color: #66BFBF;
  --h3-color: #11CDD4;
  /*--h3-color: #11999E;*/
  --span-color: #FFA1A1;
  --old-btn-color: #11CDD4;
  --glow-color: #11CDD4;
  /*--glow-color: hsl(186 100% 69%);*/
  --dark-mode-color: #000;
  --a-font-color: #E4F9F5;
  --main-font: 'Montserrat', 'Helvetica', 'sans-serif';
  --transition-color: linear-gradient(180deg,
      #E4F9F5 0%,
      #a8d5d1 15%,
      #6b9b9a 30%,
      #2d4a49 45%,
      #000000 60%,
      #000000 100%);
}

header {
  background-color: var(--main-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
  /* Valor alto para que esté siempre encima */
}

body {
  margin-top: 100vh;
  text-align: center;
  background-color: var(--main-bg-color);
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 2;

}

div {
  background-color: var(--main-bg-color);
}

/* ================ DOTTED LINE ================ */
hr {
  border: dotted white 8px;
  border-bottom: none;
  display: block;
  width: 4%;
  margin: 45px auto;
  background-color: var(--main-bg-color) !important;
}

.hr {
  padding: 1rem;
}


/* ================ GENERAL =================== */

h1 {
  margin: 0 auto 0 auto;
  border: 0;
  padding-bottom: 0;
  padding-top: 0;
  font-family: 'Sacramento', cursive;
  font-weight: bolder;
  z-index: 3;
  font-size: 8rem;
  color: var(--main-h1h2-color);
}

h2 {
  font-family: var(--main-font);
  font-size: 3.5rem;
  color: var(--main-h1h2-color);
  font-weight: normal;
}

h3 {
  font-family: var(--main-font);
  color: var(--h3-color);
}

p {
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: medium;
  font-weight: lighter;
}

a {
  font-family: var(--main-font);
  color: var(--h3-color);
  font-weight: lighter;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: var(--main-bg-color);
}


/* =========== FRONT PAGE & ANIMATIONS ========== */
.fill,
.top_container {
  background: var(--intro-bckgd-color);
  position: fixed;
  padding-top: 100px;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.animate__animated {
  animation-duration: 6s;
  animation-delay: 0.1s;
  --animate__slower: 5s;
}

.animate__rubberBand {
  animation-duration: 4s;
  animation-delay: 1.3s;
  --animate__slower: 4s
}

.animate__rotateIn {
  animation-duration: 2s;
  animation-delay: 0.1s;
}

.inblock {
  display: inline-block;
}

.top_cloud {
  position: absolute;
  top: 150px;
  right: 280px;
}

.sun {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 120px;
  animation-delay: 0.6s;
}

.bottom_cloud {
  position: absolute;
  bottom: 320px;
  left: 200px;
}

.mountains {
  border: 0;
  margin: 0 auto;
  position: fixed bottom;
}

.pro {
  color: var(--span-color);
  margin-right: -8px;
}

.fill,
.top_container {
  background: var(--intro-bckgd-color);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 100px;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
}



/* ============== HAMBURGER MENU ============= */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: visible;
  background-color: transparent !important;
  width: 80px;
  height: auto;
}


/* ============= HAMBURGER ICON ================ */
.fa,
.fa-bars {
  position: relative;
  text-align: left !important;
  display: block;
}

.topnav #myLinks {
  display: none;
  background-color: transparent !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: transparent !important;
}

li a {
  display: block;
  background-color: transparent !important;
  padding: 0;
}

.topnav a {
  text-align: left;
  color: white;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  font-weight: lighter;
  display: block;
  width: 150px;
}

.topnav a.icon {

  position: relative;
  float: left;
  font-size: 20px;
}

.topnav a:hover {
  color: lightgray;
  font-weight: bold;
}

.contact-me {
  position: relative;

}

/* ==== ORIGINAL HORIZONTAL NAV BAR (just in case) ======= */
/*nav { 
    box-sizing: border-box;
    background-color:white;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 60px;
    box-shadow: 0 1px grey;
}
  
nav a {
  vertical-align: middle;
  color: gray !important; 
  text-decoration: none !important;  
} 

.nav-link  {
    width:100%; 
    white-space: nowrap ; 
    text-decoration: none!important; 
    color: darkslategrey !important;
  }

.nav-link:hover{
    color:  var(--h3-color) !important;
    text-decoration: none !important;
    transform: scale(1.15) ;
}
*/

.colorverde {
  color: #04AA6D;
}


/*=====================  BODY ================*/

.middle-container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding: 2rem;
  padding: 2rem;
  background: var(--transition-color);
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* Centra el texto dentro de los hijos */
  background-color: transparent !important;
}



/* ================ CAROUSEL ================ */

.carousel-control {
  overflow: visible;
  background-image: none !important;

}

.intro {
  text-align: right;
  vertical-align: baseline;
}

#myprofile {
  position: relative;
  width: 100%;
}

#Lore-carousel {
  width: 60%;
  height: 100%;
  position: relative;
  vertical-align: center;
  margin: 0.5rem auto;
  padding-left: 5rem;
  overflow: visible;
  background: transparent !important;
  -webkit-transition: 0.3s ease-in-out left;
  -moz-transition: 0.3s ease-in-out left;
  -o-transition: 0.3s ease-in-out left;
  transition: 0.3s ease-in-out left;
  z-index: 2;
}


.item {
  vertical-align: -20%;
  padding: 0;
  margin: 0;
}

.carousel-caption {
  color: grey;
  position: absolute;
  left: 0%;
  bottom: 0;
  padding: 0;
  /*transform: translateY(-100%);*/
}

.carousel-text {
  color: var(--h3-color);
  width: fit-content;
}

.carousel-indicators {
  width: 20%;
  position: absolute;
  bottom: 15%;
  left: 40%;
  margin: 0;
  display: inline-block;
}

#I-am {
  width: 30%;
  height: 100%;
  vertical-align: baseline;
  display: inline-block;
  position: relative;
  line-height: 2rem;
  padding-top: 2rem;
  text-align: center;
  background-color: transparent !important;
}

#I-am h2 {
  margin-bottom: 1.5rem;
  color: #08667d;
}

#welcome {
  color: #08667d;
}

#I-am h3 {
  margin-bottom: 2.5rem auto;
}

#I-am img {
  margin: 1.5rem auto;
}

.about-me {
  background-color: black;
  padding: 2rem;
}

.about-me-table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: black;
  font-family: var(--main-font);
  color: #EAF6F6;
  font-size: medium;
  font-weight: lighter;
  line-height: 2;
}

.about-me-table td {
  padding: 1rem;
  vertical-align: top;
  text-align: left;
}

.about-me-table tr:nth-child(2) td {
  text-align: right;
}

.about-me-table tr:nth-child(3) td {
  text-align: left;
}

/* ================ SKILLS ================= */

#skills {
  padding: 2rem 0;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 70%;
  margin: 6cap auto;
  padding: 0 1rem;
}


.skill-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
  padding: 2rem;

  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(100, 100, 100, 0.5);
  transition: all 0.3s ease;
}

.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(240, 240, 240, 0.7);
}

.skill-item:nth-child(even) {

  flex-direction: row-reverse;
}

.skill-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  flex-shrink: 0;
}

.skill-content {
  flex: 1;
  text-align: left;
  background-color: transparent;

}

.skill-content h3 {
  margin: 0 0 1rem 0;
  color: #a8d5d1;
}

.skill-content p {
  margin: 0;
  color: #FFF;
}



/*================= TECHNOLOGIES ================*/
#tech-section {
  background: var(--main-bg-color);
  padding: 4rem 5%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 2rem 0;
  z-index: 2;
}

.tech-table {
  width: 70%;
  margin: 5rem auto;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.tech-table th {
  background: linear-gradient(135deg, #66BFBF, #11999E);
  color: white;
  padding: 1rem;
  font-size: 1.6rem;
  text-align: left;
}

.tech-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.tech-table tr:nth-child(even) {
  background: #f8fdfc;
  background-color: #bbb
}

.tech-table tr:nth-child(odd) {
  background: #ddd;
}

.tech-table tr:hover {
  background: #e4f9f5;
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.tech-category {
  font-weight: bold;
  color: #11999E;
  width: 25%;
}



/* ================== HOBBIES ================ */

#hobbies-container {
  position: relative;
  background-color: var(--main-bg-color);
  z-index: 3;
  padding: 2rem 0;
}


.hobby-img {
  margin: 45px 15px;
}

.hobby-img:hover {
  transform: scale(1.2);
  transition: 0.6s;
}

.hobbies-txt {
  width: 40%;
  margin: 0 auto;
}

.pro2 {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--span-color);
}



/* ==================== CONTACT =====================*/

.contact-me h2 {
  margin: 3rem auto;
}

.contact-me form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.form_field {
  margin: auto;
  border-radius: 8px;
  background-color: #FFF;
  border: 1px solid #66BFBF;
  padding: 5px 10px;
  height: 5rem;
  width: 35%;
  font-family: var(--main-font);
  font-size: 2rem;
}


.form_field:focus {
  background-color: #c5cccbb0;
  outline: none;
  border: 2px solid #66BFBF;
}


#contact_type {
  margin-bottom: 1.5rem;
  text-align: center;
  width: 35%;
}

#contact_type p {
  margin-bottom: 1rem;
  color: #FFF;
  font-family: var(--main-font);
  font-size: 1.8rem;
}


.radio-option {
  display: inline-block;
  margin-right: 20px;
  accent-color: #66bfbf;
}


.radio-option label {
  color: #FFF;
  font-family: --var(--main-font);
  font-size: 1.3rem;
}

.message {
  height: 10rem;
}

.form_btn {
  background-image: linear-gradient(to bottom, #11CDD4, #043f41);
  border: none;
  border-radius: 8px;
  font-family: var(--main-font);
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1%;
  margin: 1rem;
  width: 10%;
  text-decoration: none;
}

.form_btn:hover {
  background-image: linear-gradient(to top, #30E3CB, #26B09D);
  text-decoration: none;
  box-shadow: 0 0.8rem 0.8rem 0 rgba(0, 0, 0, 0.24);

}

.contact-me {
  background-color: #000;
  padding-top: 1%;
}



/* ================== FOOTER =================== */

footer {
  background-color: #000;
  position: relative;
}

.footer-link {
  margin-right: 40px;
  position: relative;
  top: 10px;
}

.copyright-me {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 10px;
  margin: 0;
  position: relative;
}


/* ======================= REPOS ===================== */

#repositories-main {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: var(--main-bg-color);
  z-index: 3;
}

#repos-contenedor {
  position: relative;
  width: 100%;
  z-index: 3;
  background-color: var(--main-bg-color);

}

.section-title {
  position: relative;
}

.sample {
  color: white;
}

.repos-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.repos-main::before {
  content: none !important;
  display: none !important;
}

.repo-card {
  height: 48rem;
  /*  min-width: 15%;*/
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: lightgray;
  border-radius: 10px;
  margin: 2%;
  padding: 1%;

}

.repo-card:hover,
.repo-card1:hover {
  transform: scale(1.04);
  border-width: 3px;
  box-shadow: 5px 10px #888888;
  transition: 0.6s;
}

.online-img {
  width: 75%;
}

.repo-img {
  width: 90%;
}

.card-img {
  height: 40%;
  margin: 3% auto;
}

.card-txt-div {
  height: 7rem;
  padding: 0 0.5rem;
}

.card-txt {
  font-family: "Calibri light", sans-serif;
  font-size: small;
  font-weight: lighter;
  line-height: 1.5;
}

.card-title {
  height: 6rem;
  margin-top: 5rem;
}

.more {
  background-color: transparent;
  border-color: var(--glow-color);
  color: var(--glow-color);
  font-family: "Helvetica lightweight", sans-serif;
  padding: 0.5rem;
}

.btn {
  margin: 5% auto;
  font-size: 1.7rem;
}


/* ============= SECTIONS ==============*/

#schedule {
  margin: 4rem auto;
}

#skills {
  position: relative;
  background-color: var(--main-bg-color);
  z-index: 2;
  padding: 2rem 0;

}

#technologies {
  position: relative;
  background-color: var(--main-bg-color);
  z-index: 3;
  padding: 2rem 0;
}

#repositories-main {
  position: relative;
  width: 100%;
  background-color: var(--main-bg-color);
  z-index: 4;
  padding: 2rem 0;
}

.contact-me {
  position: relative;
  background-color: var(--main-bg-color);
  padding: 2 rem 0;
}



/*=================== MEDIA QUERIES ================*/

/*------ Tablet horizontal ------*/
@media (max-width: 1080px) {
  body {
    font-size: 16px;
  }

  nav ul {
    gap: 10px;
  }

  .carousel {
    max-width: 90%;
  }

  h1 {
    font-size: 2.5em;
  }
}


/*------- Tablet vertical -------*/

@media (max-width: 768px) {

  .top_cloud,
  .bottom_cloud,
  .sun,
  .mountains {
    width: 150px;
  }

  body {
    font-size: 15px;
    padding: 0 15px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .carousel {
    max-width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
}


/* -------- Mobile 1 ---------*/

@media (max-width: 480px) {

  .top_cloud,
  .sun,
  .mountains {
    width: 100px;
  }

  .bottom_cloud {
    display: none;
  }

  body {
    font-size: 14px;
    padding: 0 10px;
  }

  .parallax {
    background-attachment: scroll;
    background-position: center;
    height: 250px;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  nav ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  nav ul.show {
    display: flex;
    flex-direction: column;
  }
     .carousel {
       width: 100%;
     }
}


/*-------- Mobil 2 ---------*/

@media (max-width: 375px) {

  .top_cloud,
  .sun,
  .mountains {
    width: 80px;
  }

  .bottom_cloud {
    display: none;
  }

  body {
    font-size: 13px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  .carousel img {
    height: auto;
  }
 .carousel {
   width: 90%;
 }
  nav ul {
    padding: 5px;
  }
}


/*=================== OTHER STYLES ==============*/
.other {
  width: 100%;
  background-image: url(/assets/images/construccion-removebg-preview.png);
  margin:0;
  display: none;
  position:relative;
  background-color: var(--main-bg-color);
  padding: 2rem 0;
}
